<header  class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">    
            <h1>HEADER</h1>
        </div>
        <div class="col-3 d-flex justify-content-end align-items-center">
            {% if user.is_authenticated %}
            <p>Hello <u>{{user.username}}</u>!</p>
            <a class="btn btn-light ms-2" href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-left"></i>  Log out</a>
            {% else %}
            <a class="btn btn-light" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Log in</a>
            <a class="btn btn-light ms-2" href="{% url 'register' %}"><i class="bi bi-person-plus"></i>  Sign in</a>
            {% endif %}
        </div>
    </div>

</header> 