{% extends 'base.html' %}
{% block title %}Sing In{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="{% url 'post_list' %}">News</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sing In</li>
    </ol>
</nav>
{% endblock %}
{% block content %}
    <h1>Log In</h1>
    <p>Please, provide your data:</p>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"><br>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}